{% extends "initNew.html" %}
<br>
{% block title%}
Article - Samvaad
{% endblock %}
{% block body%}
<br>
<center>
<h1  class="text-4xl pb-4">History Of MNNIT</h1>
<img src='\media\mnnit.jpg' width='30%' class='imageD'>
</center>
<hr color='black'>
<div class="flex items-center px-10" >
<br>
Motilal Nehru Regional Engineering College was established in 1961. MNREC was started with one branch of engineering - Electrical. The foundation stone was laid by Jawaharlal Nehru, the first Prime Minister of India, and the institute was named after his father, lawyer, and freedom fighter, Motilal Nehru. The founding principal of the college was Gopal Kishore Agrawal. It has great historical importance.
<br>
<br>
</div>

<div class="flex items-center px-10">
    <p class="mr-4">The main building of the college was inaugurated by Prime Minister Lal Bahadur Shastri on 18 April 1965. Effective from 26 June 2002, the college became a deemed university and was renamed Motilal Nehru National Institute of Technology. From its beginnings, the institute offered bachelor's degree programs in Civil, Electrical, and Mechanical Engineering. The institute was the first in the country to offer an undergraduate program in Computer Science and Engineering, which was started in 1976. In 1982-83 undergraduate programs in Electronics Engineering, and Production and Industrial Engineering were started.</p>
    <img src="\media\Inauguration_of_MNNIT.jpg" alt="Your Image" width='30%' class="w-60 order-first mr-4">
  </div>



<div class="flex items-center px-10">
    <p class="mr-4">Postgraduate programs were introduced in 1970–71 with master's degree courses in all engineering departments. The institute now offers MTech degree programs, MCA, MSc Mathematics and Scientific Computing courses and registers candidates for PhD degrees. The institute has been recognized by the Government of India as a center for the quality improvement program in Civil and Mechanical Engineering. The institute started a two-year/four semesters postgraduate degree in Management Studies in 1996. The institute added undergraduate programs in Chemical Engineering and BioTechnology in 2006.
</p>
    <img src="\media\Lecture_Hall_Complex_MNNIT.jpg" alt="Your Image" width='30%' class="w-60 mr-4">
  </div>

<br>
  
<div class="flex items-center px-10">
    <p class="mr-4">
        The college has been recognized by AICTE as a center for the Quality Improvement Programme. In 1972, the college established an industrial estate with 69 sheds with the objective of encouraging entrepreneurs and creating additional revenue.
        Design Centre
        The college is a member of the Indo-UK REC project in the area of design. Under this scheme, a Design Center was established at a cost of about Rs. six crores, which offers training and consultancy. It was given the status of an Institute of National Importance (INI) on 15 August 2007.
        In 2011, the institute celebrated its Golden Jubilee year.
        It is among the few technical institutions in India to house two supercomputers, PARAM 8000 and PARAM 10000.
</p>
    <img src="\media\Design_Centre_MNNIT.jpg" alt="Your Image" width='30%' class="w-60 mr-4">
  </div>
<br>
<br>

<img src='\media\MNNIT_main_building.webp' >
  <br>
  <br>
{%endblock%}