{% extends "initNew.html" %}
<br>
{% block title%}
Article - Samvaad
{% endblock %}
{% block body%}
<br>
<center>
<h1  class="text-4xl pb-4">Branches In MNNIT</h1>
<img src='\media\MNNIT_logopng.png' width='100' class='imageD'>
</center>
<hr color='black'>

<div class="px-10" >
<br>
Motilal Nehru National Institute of Technology Allahabad (MNNIT) boasts a proud tradition of nurturing future engineers. Here's a look at the branches that have shaped this legacy:
<br>
<br>

Pioneering the Path: Electrical Engineering holds the distinction of being the first branch established at MNNIT, laying the foundation for its engineering excellence.
<br>
<br>

Core Strengths:  Branches like Civil Engineering, Mechanical Engineering, Chemical Engineering, and Production and Industrial Engineering have consistently produced exceptional engineers who have served as the backbone of India's infrastructure development and public sector undertakings (PSUs).
<br>
<br>

Embracing the Future:  Recognizing the interdisciplinary approach that defines the modern world, MNNIT introduced the cutting-edge branch of Engineering and Computational Mechanics. This program merges engineering principles with powerful computational techniques, preparing students for the demands of the evolving technological landscape.
<br>
<br>

A Head Start in Computing: MNNIT takes pride in being one of the first institutions in India to establish a dedicated Computer Science department. This foresight has positioned MNNIT graduates at the forefront of the IT revolution.
<br>
<br>

A Wellspring of Talent:  MNNIT's commitment to high-quality education has resulted in a distinguished alumni network.  Generations of engineers from core branches have made significant contributions to India's growth, while graduates from newer fields like Computer Science are shaping the future of technology.
<br>
<br>
Exploring Further:  For a deeper dive into each branch, visit the MNNIT website <a href='http://www.mnnit.ac.in/'> (http://www.mnnit.ac.in/) </a> to discover course structures, faculty profiles, and placement statistics. This will equip you to make an informed decision as you embark on your engineering journey at MNNIT Allahabad.
<br>
<br>

</div>
{%endblock%}