{%extends 'initNew.html'%}
{%block title%} Backend Site {%endblock%}
{% block body %}
<meta name="viewport" content="width=device-width, initial-scale=1">

<br>
<div class="flex flex-auto justify-center">
<div class="px-8 py-8">
  <b> <h2>Admin Authentication</h2>
  <p>Guidelines for admins:<br> </b>
  1- Enter The Assigned Username<br>
  2- Enter The Password Provided By Backend<br>
  3- Click On Submit Button<br>
  </p>
</div>

<div class="px-8 py-8">
<div class="px-8 py-8 border-4 border-red-700 max-w-96">
  <form action="/Backend/" method="post" class="container"> {% csrf_token %}
    <div class="px-1 py-1">
    <label for="username"><b>Username: </b></label>
    <input type="text" class="px-2 hover:border-2 hover:border-red-500" placeholder="Enter Username" name="Username" id="Username" required>
    </div>
    <br>

    <div class="px-1 py-1">
    <label for="psw"><b>Password: </b></label>
    <input type="password" class="px-2 hover:border-2 hover:border-red-500" placeholder="Enter Password" name="psw" id="psw" required>
    </div>

    <br>
    <button type="submit" class="border-2 border-indigo-800 rounded-md border-dashed py-1 px-1 hover:bg-indigo-800 hover:text-white">  Login  </button>
  </form>
</div>
</div>
</div>
{%endblock%}
