{% extends 'initNew.html' %}


{% block title %} Backend {% endblock %}

{% block body %}
<br>
<div class="px-8 py-4">
<h3>
<b> U_Id of user is : </b> {{ query7 }}
<br>
<b> Name of the person who submitted article is : </b> {{ query0 }}
<br>
<b> Branch : </b> {{query3}}
<br>
<b> Year Of Enrollment </b> : {{query6}}
<br>
<b> Heading of article is :</b> {{ query4 }}
<br>
<br>
<b> The Image Submitted is:</b>
<br>
<br>
<img src = {{query8}} width='200'>
<br>
<br>
<b> The Article </b> : <br> {{ query2 }}
</h3>
<br>
<br>
<div class="border-2 md-4 px-2 py-2 border-red-700">
<h2 class="underline"> Now Please Review The Particulars Of The Article: </h2>
<br>
<form action="/Verification/" method="post">{% csrf_token %}
    <input type="text" name="U_id" value={{query7}} readonly> 
    <BR>
    <input type="checkbox" class="accent-green-500" name="Mnnitian"> User Verified As Someone From MNNIT?
    <br>
    <input type="checkbox" class="accent-green-500" name="Headline"> Heading Is Not Controversial?
    <br>
    <input type="checkbox" class="accent-green-500" name="Article"> Article Text Is Not Controversial?
    <br>
    <input type="checkbox" class="accent-green-500" name="ImageVer"> Image Is Appropriate?
    <br>
    <button type="Submit" class="border-2 m-2 px-1 py-1 border-dotted rounded-md border-green-500 hover:bg-green-500"> Submit Report </button>
    <br>
    <br>
</form>
</div>
</div>
{% endblock %}