{% extends 'initNew.html' %}


{% block title %} Samvad Blog {% endblock %}

{% block body %}

<section class="dark:text-gray-800">

  <div class="text-center text-3xl py-4 font-bold">
    Articles
    </div>


	<div class="container max-w-6xl p-6 mx-auto space-y-6 sm:space-y-12">
		<div class="grid justify-center grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3">
			{%for i in arts%}
			<a rel="noopener noreferrer" href="/{{i.slug}}" class="max-w-sm mx-auto group hover:no-underline focus:no-underline dark:bg-gray-50">
				<img role="presentation" class="object-cover w-full rounded h-44 dark:bg-gray-500" src="/media/{{i.image}}" />
				<div class="p-6 space-y-2">
					<h3 class="text-2xl font-semibold group-hover:underline group-focus:underline">{{i.heading}}</h3>
					<p> {{i.name}} | {{i.branch}} </p>
					<span class="text-xs dark:text-gray-600">Estimated Time of Reading: {{i.estimated_time}} </span>
					<p> {{i.article}}</p>
				</div>
			</a>
		{%endfor%}
		</div> 
	</div>
</section>

         
{% endblock %}
